pytest
pytest-cov
pytest-asyncio
pytest-xdist
mutmut
black
isort
flake8
mypy
pre-commit
coverage
jupyter
notebook
jupyterlab
ipykernel
nbconvert
nbformat
papermill
voila
jupyterlab-lsp
jupyterlab-git
jupyterlab-github
